<div id="online-booking-form" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>

<div class="page-layout simple fullwidth">

  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <h2>Full width</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
        <br/>  
        <div>
          <span class="mat-title">Person(s) Details </span>
        </div>
        <div formArrayName="persons" *ngFor="let person of bookingForm.get('persons')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
              <mat-form-field fxFlex="49" appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label>First Name</mat-label>
                <input matInput
                      name="firstName"
                      formControlName="firstName"
                      autocomplete="off"
                      required/>
                      <show-errors [control]="person.controls.firstName"></show-errors>
              </mat-form-field>

              <mat-form-field fxFlex="33" appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label>Last Name</mat-label>
                <input matInput
                      name="lastName"
                      formControlName="lastName"
                      autocomplete="off"
                      required/>
                      <show-errors [control]="person.controls.lastName"></show-errors>
              </mat-form-field>

              <mat-form-field fxFlex="49" appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label>Ages</mat-label>
                      <mat-select formControlName="ages" required>
                        <mat-option value="Adult">Adult</mat-option>
                        <mat-option value="Children">Children</mat-option>
                        <mat-option value="Infant">Infant</mat-option>
                      </mat-select>
                      <show-errors [control]="person.controls.ages"></show-errors>
              </mat-form-field>
            </ng-container>
        </div>
        <div class="text-right mr-20">
          <button type="button" class="mat-raised-button accent" (click)="addPerson()">
            Add New Person
          </button>
        </div>
        <br>
       <div>
         <mat-form-field fxFlex="25" appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Email</mat-label>
          <input matInput
                name="email"
                formControlName="email"
                autocomplete="off"
                required/>
                <mat-icon matSuffix>@</mat-icon>
                <show-errors [control]="bookingForm.controls.email"></show-errors>
        </mat-form-field>

        <mat-form-field fxFlex="25" appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Contact</mat-label>
          <input matInput
                name="contact"
                formControlName="contact"
                autocomplete="off"
                required/>
                <mat-icon matSuffix>phone</mat-icon>
                <show-errors [control]="bookingForm.controls.contact"></show-errors>
        </mat-form-field>
        
        <mat-form-field  fxFlex="30" appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Languages Spoken (eg. English, Tagalog)</mat-label>
          <mat-chip-list #chipListLangues>
            <mat-chip *ngFor="let language of languages" [selectable]="selectable"
                     [removable]="removable" (removed)="removeLanguage(language)">
              {{language.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input formControlName="languagesSpoken"
                   [matChipInputFor]="chipListLangues"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addLanguage($event)"
                   autocomplete="off"
                   required>
          </mat-chip-list>
        </mat-form-field>

        <div fxFlex="20" appearance="outline" floatLabel="always" class="w-100-p">
          <mat-select-country appearance="outline"
          (onCountrySelected)="onCountrySelected($event)">
          </mat-select-country> 
          <input type="hidden" [(ngModel)]="countryInput" formControlName="country" required/>
          <show-errors [control]="bookingForm.controls.country"></show-errors>
         </div>
      </div>

      <!-- <div>
        
      </div> -->

      <div>
        <mat-form-field fxFlex="98" appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Leave Message</mat-label>
          <input matInput
                name="leaveMessage"
                autocomplete="off"
                formControlName="leaveMessage"/>
        </mat-form-field>
      </div>
       <div class="text-right mr-20">
        <button type="submit" class="mat-raised-button warn">Book Now</button>
       </div>
    </form>
     
    <!-- {{this.bookingForm.value | json}} -->
  </div>
  <!-- / CONTENT -->

</div>

</div>