@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. <a href="https://tenants.ericsonramos.com?redirect-to-login=true">Login Now</a>.
</p>