<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RicAuthServerDb" connectionString="Server=RICZEPHYRUS\PRJ2022;User Id=sa;Password=Pa$$w0rd;Database=RicAuthJwtServer;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>