
<div id="renter" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row"  fxLayoutAlign="space-between center">
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apartment/tenants'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="renter-image mr-8 mr-sm-16" [@animate]="{value:'*', params:{delay:'50ms', scale:'0.2'}}">
          <img [src]="'assets/images/avatars/profile.jpg'">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start"
           [@animate]="{value:'*',params:{delay:'100ms', x:'-25px'}}">
          <div class="h2" *ngIf="pageType === 'edit'">
            {{renterName}}
          </div>
          <div class="h2" *ngIf="pageType === 'new'">
            New tenant
          </div>
          <div class="subtitle secondary-text">
            <span>Details</span>
          </div>
        </div>
      </div>
      <!-- /APP TITLE -->
    </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">
        <!-- CONTENT -->
        <div class="content">
          <div class="tab-content" fusePerfectScrollbar>
            <!--TABS HERE-->
            <renter-tabs></renter-tabs>
          </div>
        </div>
      </div>
  </div>
</div>