
<div id="audits" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="accent" fxLayout="row"  fxLayoutAlign="space-between center" style="height: 40px;">
    </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">
        <!-- CONTENT -->
        <div class="content">
          <div class="tab-content" fusePerfectScrollbar>
            <!--TABS HERE-->
            <audit-tabs></audit-tabs>
          </div>
        </div>
      </div>
  </div>
</div>