<ng-template #dialog>
  <div id="change-password" fxLayout="column">

    <div id="change-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="change-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="title pb-20">CHANGE YOUR PASSWORD</div>

            <form name="changePasswordForm" [formGroup]="changePasswordForm" novalidate>
                <mat-form-field appearance="outline">
                  <mat-label>Old Password</mat-label>
                  <input matInput type="password" formControlName="oldPassword">
                  <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                  <password-show-errors [control]="oldPasswordControl"></password-show-errors>
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <password-show-errors [control]="passwordControl"></password-show-errors>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Password (Confirm)</mat-label>
                  <input matInput type="password" formControlName="passwordConfirm">
                  <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                  <password-show-errors [control]="confirmPasswordControl"></password-show-errors>
                </mat-form-field>
                
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" [disabled]="changePasswordForm.invalid"
                        (click)="changePassword()">
                    CHANGE MY PASSWORD
                </button>
            </form>

        </div>

    </div>

</div>

</ng-template>
