<div id="setting" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row"  fxLayoutAlign="space-between center">
    </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card pt-20">

        <!-- CONTENT -->
        <div class="content">


          <div *ngFor="let setting of settings">
            <div fxLayout="row" *ngIf="setting.dataType == 'boolean'">
              <div fxFlex="30" fxLayoutAlign="end center" class="mr-20">
                <div class="h5 secondary-text">{{setting.friendlyName}}</div>
              </div>
              <div fxFlex="70">
                <mat-radio-group (change)="onTicked($event, setting.key)">
                  <mat-radio-button [checked]="setting.realValue" value="true">Yes</mat-radio-button>
                  <mat-radio-button class="pl-20" [checked]="!setting.realValue" value="false">No</mat-radio-button>
              </mat-radio-group>
            </div>
            </div>
            
            <div fxLayout="row" *ngIf="setting.dataType == 'varchar'">
              <div fxFlex="30" fxLayoutAlign="end center" class="mr-20">
                <div class="h5 secondary-text">{{setting.friendlyName}}</div>
              </div>
              <div fxFlex="70">
                <div class="h5 secondary-text">
                  <span>{{setting.realValue}}</span>
                  <mat-icon class="edit-setting" (click)="editSetting(setting.key)">create</mat-icon>
                </div>
              </div>
            </div>
          
            <div fxLayout="row" *ngIf="setting.dataType == 'numeric'">
              <div fxFlex="30" fxLayoutAlign="end center" class="mr-20">
                <div class="h5 secondary-text">{{setting.friendlyName}}</div>
              </div>
              <div fxFlex="70">
                <div class="h5 secondary-text">
                  <span>{{setting.realValue}}</span>
                  <mat-icon class="edit-setting" (click)="editSetting(setting.key)">create</mat-icon>
                </div>
              </div>
            </div>
          
            <br>
          </div>
        
        </div>

      </div>
  </div>

</div>