<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RicDb" connectionString="Server=RICZEPHYRUS\SQLEXPRESS2017;User Id=sa;Password=Pa$$w0rd;Database=RicMonitoringTenantsApi;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<!--<add name="RicDb" connectionString="Data Source=SQL5059.site4now.net;Initial Catalog=DB_A0C73C_tenantsapi;User Id=DB_A0C73C_tenantsapi_admin;Password=P@ssw0rdSmart;App=EntityFramework;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>