
#rent-transaction {

    .header {

        .rent-transaction-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .rent-transaction-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .mat-form-field {
            margin-right: 1%;
        }

        .is-rent-end mat-radio-group mat-radio-button {
            padding-left: 5px;
        }

        
    }

    .table-payments {
        width: 100%;

        .mat-column-id {
            // flex: 0 1 50px;
            display: none;
        }

        .mat-column-amount {
            flex: 0 1 300px;
            padding-left: 20px;
            width: 150px;
        }

        .mat-column-datePaid {
            flex: 0 1 200px;
            padding-left: 20px;
            width: 150px;
        }

        .mat-column-paymentTransactionType {
            flex: 0 1 200px;
            padding-left: 20px;
            width: 130px;
        }

    }
    
    tr.mat-footer-row {
        font-weight: bold;
    }
}
