<div id="rent-transaction" class="page-layout carded fullwidth inner-scroll" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row"  fxLayoutAlign="space-between center">
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apartment/tenant-transactions/' + monthFilter">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="rent-transaction-image mr-8 mr-sm-16" [@animate]="{value:'*', params:{delay:'50ms', scale:'0.2'}}">
          <img [src]="'assets/images/avatars/profile.jpg'">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start"
           [@animate]="{value:'*',params:{delay:'100ms', x:'-25px'}}">
          <div class="h2">
            {{rentTransaction.renterName}}
          </div>
          <div class="subtitle secondary-text">
            <span>Billing details</span>
          </div>
        </div>
      </div>
      <!-- /APP TITLE -->
      
      <button mat-raised-button 
              class="mt-16 mt-sm-0"
              *ngIf="rentTransaction.transactionType == 1 && !rentTransaction.isProcessed"
              [disabled]="rentTransactionForm.invalid"
              (click)="save()">
        <span>SAVE</span>
      </button>
      <!-- adjust payment -->
      <button mat-raised-button 
              class="mt-16 mt-sm-0"
              *ngIf="rentTransaction.isProcessed && rentTransaction.isBalanceEditable"
              [disabled]="rentTransactionForm.invalid"
              (click)="saveBalanceAdjustment()">
        <span>Save Balance Adjustment</span>
      </button>
    </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

        <!-- CONTENT -->
        <div class="content">

          <form name="rentTransactionForm" [formGroup]="rentTransactionForm" class="rentTransaction w-100-p" fxLayout="column" fxFlex>
            <div class="tab-content p-24" fusePerfectScrollbar>
              <!--right menu start-->
              <div style="float: right">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                  <button-billing-statement [billingStatement]="rentTransaction.billingStatement"></button-billing-statement>
                </mat-menu>
              </div>
              <!--right menu end-->
              
              <div class="pl-1 pb-24" fxLayout="row" fxLayoutAlign="left center">
                <div class="pr-20" fxLayout="column" fxLayoutAlign="start left">
                  <div class="h4 secondary-text">Room Name</div>
                  <div class="h2 font-weight-300 py-8">{{rentTransaction.roomName}}</div>
                </div>

                <div class="pr-20" fxLayout="column" fxLayoutAlign="start left">
                  <div class="h4 secondary-text">Monthly</div>
                  <div class="h2 font-weight-300 py-8">{{rentTransaction.monthlyRent | number: '1.0-2'}}</div>
                </div>

                <div class="pr-20" fxLayout="column" fxLayoutAlign="start left">
                  <div class="h4 secondary-text">Previous Unpaid</div>
                  <div class="h2 font-weight-300 py-8">{{rentTransaction.previousUnpaidAmount | number: '1.0-2'}}</div>
                </div>

                <div class="pr-20" fxLayout="column" fxLayoutAlign="start left">
                  <div class="h4 secondary-text">Total Amt Due</div>
                  <div class="h2 font-weight-300 py-8">{{rentTransaction.totalAmountDue | number: '1.0-2'}}</div>
                </div>

                <div class="pr-20" fxLayout="column" fxLayoutAlign="start left">
                  <div class="h4 secondary-text">Due Date</div>
                  <div class="h2 font-weight-300 py-8">{{rentTransaction.dueDateString}}</div>
                </div>

                <div class="pr-20" fxLayout="column" fxLayoutAlign="start left">
                  <div class="h4 secondary-text">Period</div>
                  <div class="h2 font-weight-300 py-8">{{rentTransaction.period}}</div>
                </div>
                
              </div>
              

              <div fxLayout="row" [hidden]="rentTransaction.isProcessed">
                <mat-form-field fxFlex="20" appearance="outline" floatLabel="always">
                  <mat-label>Paid Amount</mat-label>
                  <input matInput
                        name="paidAmount"
                        formControlName="paidAmount"
                        [(ngModel)]="rentTransaction.paidAmount"
                        (keyup)="onChangePaidAmount()"
                        required>
                        <show-errors [control]="rentTransactionForm.controls.paidAmount"></show-errors>
                </mat-form-field>

                <mat-form-field fxFlex="20" appearance="outline" floatLabel="always">
                  <mat-label>{{rentTransaction.isDepositUsed ? 'Date Use The Deposit' : 'Date Paid'}}</mat-label>
                  <input matInput [matDatepicker]="paidDatePicker" formControlName="paidDate" [(ngModel)]="defaultPaidDate" required>
                  <mat-datepicker-toggle matSuffix [for]="paidDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #paidDatePicker></mat-datepicker>
                  <show-errors [control]="rentTransactionForm.controls.paidDate"></show-errors>
                </mat-form-field>

                <input *ngIf="!hasBalance" type="hidden" formControlName="balanceDateToBePaid">
                  <mat-form-field fxFlex="20" appearance="outline" floatLabel="always" *ngIf="hasBalance">
                    <mat-label>Date To Pay Balance</mat-label>
                    <input matInput [matDatepicker]="balanceDateToBePaidPicker" formControlName="balanceDateToBePaid"
                      [(ngModel)]="rentTransaction.balanceDateToBePaid">
                    <mat-datepicker-toggle matSuffix [for]="balanceDateToBePaidPicker"></mat-datepicker-toggle>
                    <mat-datepicker #balanceDateToBePaidPicker></mat-datepicker>
                    <show-errors [control]="rentTransactionForm.controls.balanceDateToBePaid"></show-errors>
                  </mat-form-field>
                  
                  <div class="is-rent-end" fxFlex="30" style="padding-left: 20px;">
                    <div *ngIf="!rentTransaction.isNoAdvanceDepositLeft" class="px-20" fxLayout="column" fxLayoutAlign="start left">
                      <div class="h4 secondary-text">Use Deposit?</div>
                      <div class="h2 font-weight-300 py-8">
                        <mat-radio-group formControlName="isDepositUsed" 
                          (change)="onChangeDepositUsedEvent($event)">
                            <mat-radio-button value="true" [checked]="rentTransaction.isDepositUsed">Yes</mat-radio-button>
                            <mat-radio-button value="false" [checked]="!rentTransaction.isDepositUsed">No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div *ngIf="rentTransaction.isNoAdvanceDepositLeft" class="px-20" fxLayout="column" fxLayoutAlign="start left">
                      <div class="h4 secondary-text" style="color: red;">ALERT!</div>
                      <div class="font-weight-300 py-8 message-box warning">
                          No Advance/Deposit Left...
                      </div>
                    </div>
                  </div>
              </div>

              <div fxLayout="row" [hidden]="!rentTransaction.isProcessed">
                
                <mat-form-field *ngIf="rentTransaction.isProcessed && rentTransaction.isBalanceEditable" fxFlex="30" appearance="outline" floatLabel="always">
                  <mat-label>Paid Amount [Balance Adjustment]</mat-label>
                  <input matInput
                        name="adjustmentBalancePaymentDueAmount"
                        formControlName="adjustmentBalancePaymentDueAmount"
                        [(ngModel)]="rentTransaction.adjustmentBalancePaymentDueAmount"
                        (keyup)="onChangeAdjustmentBalancePaymentDueAmount()">
                        <show-errors [control]="rentTransactionForm.controls.adjustmentBalancePaymentDueAmount"></show-errors>
                </mat-form-field>

                <div *ngIf="rentTransaction.isDepositUsed" class="pr-40 pb-20" fxLayout="column" fxLayoutAlign="start left">
                  <div class="h4 secondary-text">Deposit Used?</div>
                  <div class="font-weight-300 py-8 message-box success">
                      <strong>YES</strong>
                  </div>
                </div>
                <div *ngIf="rentTransaction.isNoAdvanceDepositLeft" class="pr-40 pb-20" fxLayout="column" fxLayoutAlign="start left">
                  <div class="h4 secondary-text" style="color: red;">ALERT!</div>
                  <div class="font-weight-300 py-8 message-box warning">
                      <span>No Advance/Deposit Left...</span>
                  </div>
                </div>
              </div>

              <div fxLayout="row">
                <mat-form-field fxFlex="65" appearance="outline" floatLabel="always">
                  <mat-label>Note(s)</mat-label>
                  <textarea matInput
                        name="note"
                        formControlName="note"
                        [(ngModel)]="rentTransaction.note"
                        mar-rows="4"></textarea>
                        <show-errors [control]="rentTransactionForm.controls.note"></show-errors>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <div *ngIf="rentTransaction.id > 0 && rentTransaction.paidAmount > 0" class="pr-20" fxLayout="column" fxLayoutAlign="start left">
                  <div class="h4 secondary-text">Amount Paid</div>
                  <div class="h2 font-weight-300 py-8" style="color: maroon;">{{(rentTransaction.paidAmount) | number: '1.0-2'}}</div>
                </div>

                <div *ngIf="hasBalance" class="pr-20" fxLayout="column" fxLayoutAlign="start left">
                  <div class="h4 secondary-text">Balance</div>
                  <div class="h2 font-weight-300 py-8" style="color: maroon;">{{rentTransaction.balance | number: '1.0-2'}}</div>
                </div>

                <div *ngIf="rentTransaction.transactionType == 2" class="message-box warning">
                  Please modify the tenant information via <a href="#" [routerLink]="'/apartment/tenants/' + rentTransaction.renterId + '/' + renterName">Tenant Page Form.</a>
                </div>
            </div>
              
          </div>
          
          </form>
        </div>

      </div>
  </div>

</div>